#eventsMain {
    width: 80%;
    margin: 0 auto;
    margin-top: 0.5rem;
    align-items: center;
}

.eventCard {
    height:25rem;
    width: 24rem;
    border: 1px solid lightgrey;
    border-radius: 0.25rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.2rem;
    margin-right: 1rem;
    background-color: #303030;
}

.eventImg {
    height: 11.75rem;
    width: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.eventBoxWrap {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.25rem;
    position: relative;
    text-align: center;
}

.eventBox {
    display: inline-block;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.eventDesp {
    height: 8rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.5rem;
}

.regBtn {
    width: 90%;
    margin: 0 auto;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    background-color: #3498db;
    border: transparent;
    border-radius: 0.2rem;
    color: white;
    font-size: 1rem;
}

.regBtn a {
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
}

.regBtn:hover {
    cursor: pointer;
}
.regBtn:focus {
    outline: 0;
}
.eventOrganiserWrap, .eventTime, .eventVenue, .eventTitle {
    margin: 0 auto;
    width: 100%;
    font-family: 'Hind Siliguri', sans-serif;

}
.eventTitle {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
}
.eventBox {
    margin-top: 1.25rem;
}