#eventsMain {
    
    margin: 0 auto;
    margin-top: 0.5rem;
    align-items: center;
}

.eventCard {
    height:25rem;
    width: 24rem;
    border: 1px solid lightgrey;
    border-radius: 0.25rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.2rem;
    margin-right: 1rem;
    background-color: #303030;
}

.eventImg {
    height: 11.75rem;
    width: 20rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.eventBoxWrap {
    display: flex;
    flex-flow: column wrap;
    
    align-items: center;
    margin-bottom: 1.25rem;
    position: relative;
    text-align: center;
}

.eventBox {
    display: inline-block;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.eventDesp {
    height: 8rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.5rem;
}

.regBtn {
    width: 90%;
    margin: 0 auto;
    height: 2.5rem;
    margin-bottom: 0.5rem;
    background-color: #3498db;
    border: transparent;
    border-radius: 0.2rem;
    color: white;
    font-size: 1rem;
}

.regBtn a {
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 2.5rem;
}

.regBtn:hover {
    cursor: pointer;
}
.regBtn:focus {
    outline: 0;
}
.eventOrganiserWrap, .eventTime, .eventVenue, .eventTitle {
    margin: 0 auto;
    width: 100%;
    font-family: 'Hind Siliguri', sans-serif;

}
.eventTitle {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
}
.eventBox {
    margin-top: 1.25rem;
}





/* EVENT HOVER ANIMATIONS */
.details {
	background: rgba(0,0,0,0.8);
	height: 225px;
	display: block;
    position: relative;
    
}
.details h3{
    text-align: left;
}
.grid {
	position: relative;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	-webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	width:100%;
	box-sizing: border-box;
	top: 0;
	left: 0;
	height: 100%;
}
.details span {
    color: #B10C2D;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure .details {
	margin: 0;
}

.grid figure .details {
	letter-spacing: 1px;
}

/*---------------*/
/***** Layla *****/
/*---------------*/

figure.effect-layla {
    width: 100%;
	background: #12b3f3;
}

figure.effect-layla img {
    width: 100%;
}

figure.effect-layla figcaption {
    width: 100%;
	padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h2 {
	padding-top: 26%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-layla .details {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
	-webkit-transform: translate3d(0,-30px,0);
	transform: translate3d(0,-30px,0);
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla .details {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover .details {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover .details,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
