#eventsMain {
    width: 80%;
    margin: 0 auto;
    margin-top: 0.5rem;
    color: black;
}

.eventCard {
    height:24rem;
    width: 19rem;
    border: 1px solid lightgrey;
    border-radius: 0.25rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    margin-bottom: 1.2rem;
    color: black;
}


.eventImg {
    height: 12rem;
    width: 18.85rem;
    background-image: url("../images/nsoc.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.eventBoxWrap {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.25rem;
    color: black;
    text-align: center;
}

.eventBox {
    display: inline-block;
    width: 100%;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    color: black;
}

.eventDesp {
    height: 8rem;
    display: flex;
    width: 90%;
    margin: 0 auto;
    margin-bottom: -0.2rem;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.regBtn {
    width: 90%;
    margin: 0 auto;
    height: 2.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    background-color: #3498db;
    border: transparent;
    border-radius: 0.2rem;
    color: white;
    font-size: 1rem;
}

.regBtn a {
    text-decoration: none;
    color: white;
    display: block;
    height: 100%;
    text-align: center;
    /* vertical-align: middle; */
    line-height: 2.5rem;
}

.regBtn:hover {
    cursor: pointer;
}
.regBtn:focus {
    outline: 0;
}
.eventOrganiserWrap, .eventTime, .eventVenue, .eventTitle {
    margin: 0 auto;
    width: 95%;
    font-family: 'Hind Siliguri', sans-serif;
    color: black;
}
.eventTitle {
    text-align: center;
    font-size: 1.5rem;
    color: black;
}
.eventBox {
    margin-top: 1.25rem;
}

#todayLoad, #upLoad, #pastLoad {
    margin-top: 1.5rem;
}