/* SCROLLBAR STYLES */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #B10C2D;
}
@font-face {
    font-family: Title;
    src: url(../Raleway-Thin.ttf);
  }

body{
    background: #F5F5F5;
}
#primaryNav{
    padding: 20px 150px;
    position: sticky;
    top:0;
    
}
#carouselContainer{
    padding: 0px;
}
#carousel-nav{
    background-color:#B10C2D;
    height: 60px;
    width: 60px;
    color: white;
    font-size: 150%;
}
#titleFadeInUp{
    font-size: 300%;
    color: white;
    font-weight: bold;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Title';

}

#activitiesSection{
    background-color: #062041;
}
#activityContainer{
    
    background-repeat: no-repeat;
    background-size: cover;
}

#activityContainer #right{
    flex-direction: row-reverse
}
#activityDescriptionContainer{
    padding: 250px 100px;
    
    background: #062041;
    box-sizing: border-box;
    position: relative;
    
    
}
#activityDescriptionContainer h1 {
    font-size: 300%;
    color: #B10C2D;
    
    margin-bottom: 20px;
    
}
#activityDescriptionContainer p {
    font-size: 120%;
    
    color: #faf6f6;
    
}

#img{
    height: 100%;
    width: 100%;
    z-index: 100;
    
}
.no-padding{
    padding: 0px !important;
}
.no-margin{
    margin: 0px !important;
}
.fullwidth-image{
    width: 100%;
}

#footer{
    background: black;
    padding: 50px;
    color: white;
    z-index: 10000;
    position: relative;
}




/* ABOUT PAGE */
.membersSection{
    padding-bottom: 150px;
    background: #062041;
    text-align: center;
}
.member{
    display: inline-block;
    margin: 0;
    position: relative;
    border: rgb(119, 7, 37) solid 1px;
    
}
.memberImg img{
    width: 100%;
}
.memberDescription{
    margin-top: -10px;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    background: #062041;
    color: white;
    
}
.memberDescription h1{
    font-size: 140%;
}
.memberDescription p {
    font-size: 120%;
    color: #B10C2D;
}
.about{
    padding-bottom: 150px;
}
.aboutRow{
    text-align: center;
    padding: 100px 100px 0px 100px;
    
}
.aboutRow img{
    height: 200px;
}
.aboutRow h1{
    font-size: 250%;
    color: #B10C2D;
    margin: 10px;
}
.aboutRow p {
    text-align: left;
    margin:10px;
}




/* EVENTS */
.eventsSection{
    
    background: #062041;
    text-align: center;
}

.eventsContainer{
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 110%;
}
.eventContent{
    padding: 10px 50px;
}


/* ADMIN PANEL */
.padding{
    padding: 100px;
}



.chapterImage{
    padding: 50px;
    background: white;
    text-align: center;
}
#chapterName{
    font-size:150%;
    color: white;
    font-weight: bold;
    background: rgba(0,0,0,0.8);
    padding: 30px;
    text-align: center;
    font-family: 'Title';

}
h2{
    font-size: 120%;
}









/* MEDIA QUERIES 
* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...} 

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}
>
>
>
>
>
>
>
*/
@media only screen and (max-width: 1086px) {
    

} 
@media only screen and (max-width: 992px) {
    #activityDescriptionContainer{
        padding: 80px 50px;
        font-size: 90%;
    }
    .eventsContainer{
        padding-left: 50px;
        padding-right: 50px;
        
    }
    .padding{
        padding: 80px;
    }

} 

@media only screen and (max-width: 768px) {
    #titleFadeInUp{
        font-size: 200%;
    }
    #activityDescriptionContainer{
        padding: 80px;
        font-size: 90%;
    }
    .eventsContainer{
        padding-left: 100px;
        padding-right: 100px;
        
    }
    .padding{
        padding: 80px;
    }

} 

@media only screen and (max-width: 600px) {
    #titleFadeInUp{
        font-size: 100%;
        padding: 20px;
    }
    #activityDescriptionContainer{
        padding: 50px;
        font-size: 90%;
    }
    #membersColumns{
        padding-top: 100px;
    }
    .member {
        margin: 10px;
    }
    .aboutRow{
        padding: 50px 50px 0px 50px;
    }
    
    .eventsContainer{
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 50px;
        padding-right: 50px;
        
    }
    .padding{
        padding: 60px;
    }

} 

@media only screen and (max-width: 1434px) {
    
    #activityDescriptionContainer{
        padding: 100px;
        font-size: 90%;
    }
}


/* MOBILE NAVBAR */
@media only screen and (max-width: 1087px) {
    
    #primaryNav{
        padding: 0;
    }
    .navbar-brand{
        padding: 20px;
    }
    #navbarBasicExample{
        padding: 20px;
        height: 100vh;
        width: 60vw;
        float: right;
        position: absolute;
        right: 0px;
        z-index: 1000;
    }
}

@media only screen and (max-width: 1276px) {
    
    #activityDescriptionContainer{
        padding: 70px;
        font-size: 90%;
    }
}  





