/* SCROLLBAR STYLES */
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #FFFFFF;
}
@font-face {
    font-family: Title;
    src: url(../Raleway-Thin.ttf);
}

#page_container{
    width: 90%;
    margin-left: 10%;
}
.no-padding{
    padding: 0 !important;
}
/*MENU CSS*/
.navbar-brand img{
    height: 70px;
}
.navbar-brand{
    justify-content: center;
    
}
#whiteText{
    color: #F5F5F5;
}
#toTopWrapper{
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
    position: fixed;
    z-index: 1000000000000;
    right: 30px;
    bottom: 30px;
    background: #B10C2D;
    height: 40px;
    width: 40px;
    color: white;
    font-size: 140%;
    text-align: center;
    border-radius: 50%;  
}

body{
    background: #F5F5F5;
}
#navbarBasicExample {
    margin-left: 30px;
}
#primaryNav{
    width: 10%;
    height: 100vh;
    background: rgb(27, 27, 27);
    font-family: sans-serif;
    position: fixed;
    top:0;
    z-index: 10000;
    box-sizing: border-box;
    padding-top: 100px;

    text-align: center;
}

.menu {
    
	height: 100vh;
	width: 10%;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	font-size: 90%;
}

.menu__item {
    margin-left: 50px;
	line-height: 1;
	position: relative;
	display: block;
	margin: 1em 0;
	outline: none;
}

.menu__item-name,
.menu__item-label {
	position: relative;
	display: inline-block;
}


.menu__item-label {
	margin: 0 0 0 0.5em;
}

.menu--dustu .menu__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 2em 0;
}

.menu--dustu .menu__item-name {
	
	overflow: hidden;
	padding: 0 0.25em;
	color: #fff;
}

.menu--dustu .menu__item-name::before,
.menu--dustu .menu__item-name::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #eb2141;
	transform: translate3d(-100%,0,0) translate3d(-1px,0,0);
	transition: transform 0.7s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu--dustu .menu__item:hover .menu__item-name::before {
	transform: translate3d(100%,0,0) translate3d(1px,0,0);
}

.menu--dustu .menu__item:hover .menu__item-name::after {
	transform: translate3d(0,0,0);
}

.menu--dustu .menu__item-name::after {
	top: calc(50% - 2px);
	height: 4px;
}

.menu--dustu .menu__item-label {
	font-size: 1em;
	margin: 0.5em 0 0 0;
	margin-top: 0.25em;
	padding: 0.5em;
	color: #565656;
	transition: color 0.7s;
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu--dustu .menu__item:hover .menu__item-label {
	color: #fff;
}









#img{
    height: 100%;
    width: 100%;
    z-index: 100;
    
}
#footer{
    background: black;
    padding: 50px;
    color: white;
    z-index: 10000;
    position: relative;
}








/* MEDIA QUERIES 
* Extra small devices (phones, 600px and down) 
@media only screen and (max-width: 600px) {...} 

/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...}
>
>
>
>
>
>
>
*/


/* MOBILE NAVBAR */
@media only screen and (max-width: 1087px) {
    
    #primaryNav{
        padding: 0;
    }
    .navbar-brand{
        padding: 20px;
    }
    #navbarBasicExample{
        padding: 20px;
        height: 100vh;
        width: 60vw;
        float: right;
        position: absolute;
        right: 0px;
        z-index: 1000;
    }
}

@media only screen and (max-width: 1276px) {
    
    #activityDescriptionContainer{
        padding: 70px;
        font-size: 90%;
    }
}  

.image{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}





