<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NISB | Chapters</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/animations.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/style.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/carousel.css')}}" />
    <script src="{{ url_for('static',filename='js/main.js')}}"></script>
    <script src="{{ url_for('static',filename='js/carousel.js')}}"></script>
    
</head>
<body>
    {% include 'header.html'%}
    <section class="hero eventsSection is-medium has-carousel">
            <div class="hero-carousel carousel-animated carousel-animate-slide">
              <div class='carousel-container'>
                <div class='carousel-item has-background'>
                    
                </div>
              </div>
            </div>            
            <div class="hero-body has-text-centered">
              <div class="columns is-mobile is-centered">
                <div class="column is-half is-narrow">
                  <div class="field has-addons">
                    <div class="control is-expanded">
                        <h1 id="titleFadeInUp">IEEE CHAPTERS</h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </section>
    <div class="columns">
        <div class="column is-one-third">
                <div class="chapterImage">
                        <img src="../static/images/chapters/cs.png">
                </div>
                <h1 id="chapterName">COMPUTER SOCIETY</h1>
        </div>
        <div class="column padding">
            
                    <p>
                        IEEE has many societies under its umbrella. One of its largest and most active societies is the IEEE Computer Society. NISB has started its Computer Society chapter two years ago with only 15 members and currently has a whopping a figure of 60 members. Through NISB, IEEE students of NIE can take up student membership for the Computer Society
                    </p>
                    <br>
                    <h2><strong> Computer Society Member Benefits </strong></h2>
                    <ul>
                        <li> - Access to exclusive resources at computer.org</li>
                        <li> - Volunteering opportunities at IEEE Computer Society events</li>
                        <li> - Discounts at Computer Society events in college level</li>
                    </ul>
                
        </div>
    </div>
    <br><br>
    <div class="columns">
            <div class="column is-one-third">
                    <div class="chapterImage">
                            <img src="../static/images/chapters/wie.png">
                    </div>
                    <h1 id="chapterName">WOMEN IN ENGINEERING</h1>
            </div>
            <div class="column padding">
                
                        <p>
                                IEEE Women in Engineering (WIE) is one of the largest international professional organization dedicated to promoting women engineers and scientists and inspiring girls around the world to follow their academic interests to a career in engineering. The IEEE Women in Engineering Student Branch Affinity Group at the National Institute of Engineering was formed on 13th April 2015
                        </p>
                        <br>
                        <br>
                        <h2><strong>Mission and Vision</strong></h2>
                        <p>The mission of IEEE WIE is to facilitate the recruitment and retention of women in technical disciplines globally. IEEE WIE envisions a vibrant community of IEEE women and men collectively using their diverse talents to innovate for the benefit of humanity.</p>
                        <br>
                        <br>
                        <h2><strong>WIE Membership Benefits</strong></h2>
                        <ul>
                            <li> - Access to the electronic WIE Membership Directory</li>
                            <li> - Monthly WIE electronic newsletter which contains career information, reports on WIE and Affinity Group activities, IEEE news, and more</li>
                            <li> - Opportunities to network, volunteer, and participate in local WIE activities</li>
                        </ul>
                        <br>
                        <br>
                        <img src="../static/images/chapters/wieMain.jpg">
                        <br>
                        <br>
                        <br>
                        <br>
                        <h2><strong>IEEE WIE Strives to</strong></h2>
                        <ul>
                            <li> - Recognize women’s outstanding achievements in electrical and electronics engineering through IEEE Awards nominations.</li>
                            <li> - Organize receptions at major technical conferences to enhance networking and to promote membership in WIE.</li>
                            <li> - Advocate women in leadership roles in IEEE governance and career advancement for women in the profession.</li>
                            <li> - Provide assistance with the formation of new WIE Affinity Groups and support ongoing activities.</li>
                            <li> - Promote IEEE member grade advancement for women to the membership grades of Senior member and Fellow.</li>
                            <li> - Facilitate the development of programs and activities that promote the entry into and retention of women in engineering programs.</li>
                            <li> - Administer the IEEE Student-Teacher and Research Engineer/Scientist (STAR) Program to mentor young women in junior and high schools.</li>
                        </ul>
                    
            </div>
        </div>
        





    {% include 'footer.html'%}

</body>
</html>















