<!DOCTYPE html>
<html>
<head>
    
    <title>NIE IEEE CS | Contact </title>
    {% include 'head.html' %}
		
</head>
<body>
    {% include 'menu.html'%}
    {% include 'back_to_top.html'%}

    <form action="/Contact" method="POST">
        Name : <input type = "text" name = "contactName"><br>
        Email : <input type="text" name = "contactEmail"><br>
        Subject : <input type="text" name = "contactSubject"><br>
        Message :<input type="text" name = "contactMessage"><br><br>
        <input type="submit" value="Submit">
    </form>
    {{ message }}

    {% include 'footer.html'%}
    {% include 'scripts.html' %}
</body>
  
</html>














