<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>How to make a footer fully responsive in html and css</title>
<link href="../static/css/footer-css.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
</head>

<body>
<div class="footer-wrapper">
  <div class="top-img"></div>
  <div class="container-fluid">
    <div class="footer-social-icons">
      <ul>
        <li><a href="https://www.facebook.com/NieIeeeStudentBranch/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://www.instagram.com/nie_ieee_student_branch" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>

    <div class="footer-mid-part">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-section-one">
            <div class="footer-heading"><h2>Contact Us</h2></div>
 <div class="footer-contact-box">
            <div class="footer-contact-icon"><i class="fa fa-map-marker"></i></div>
            <div class="footer-contact-text">
              <p>NIE IEEE Student Branch<br>The National Institute of Engineering, Mysore</p>
            </div>
            <div class="clr"></div>
          </div>

           
           


          </div>

        </div>
        <div class="footer-contact-box">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-section-two">
            <div class="footer-link">
             <div class="footer-contact-box">
            <div class="footer-contact-icon"><i class="fa fa-envelope"></i></div>
            <div class="footer-contact-text">
              <p><a href="mailto:nisb@nie.ac.in">nisb@nie.ac.in</a></p>
            </div>
            <div class="clr"></div>
          </div>
        </div>

            </div>
          </div>
        </div>
        <div class="footer-contact-box">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-section-two">
           
             <div class="footer-link">
              <div class="footer-contact-box">
            <div class="footer-contact-icon"><i class="fa fa-globe"></i></div>
            <div class="footer-contact-text">
               <p><a href="http://www.nisb.in">http://www.nisb.in</a></p>
            </div>
            <div class="clr"></div>
          </div>
            </div>
          </div>
        </div>
      </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="footer-section-three">
            <div class="footer-heading"><h2>Get in touch</h2></div>
          
            <div class="footer-contact-box">
            
            <div class="footer-contact-text">
              <p><a href="mailto:nisb@nie.ac.in">Shri Harsha<br>Chairperson, NISB CS<br>+91 9483904242</a></p>
            </div>
            <div class="clr"></div>
          </div>
          </div>
        </div>
      </div>
    </div>
 


  </div>
</div>

</body>
</html>
