<footer class="social-footer">
  <div class="social-footer-left">
    <a href="#"><img class="logo" src="https://placehold.it/150x30"></a>
  </div>
  <div class="social-footer-icons">
    <ul class="menu simple">
      <li><a href="https://www.facebook.com/NieIeeeStudentBranch"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/nie_ieee_student_branch?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
    <div class="column">
                NIE IEEE Student Branch 
                <br>The National Institute of Engineering 
                <br>Mysuru
            
        </div>
        
        <div class="column">
                Shriharsha M
                <br>+91 94839 04242 
                <br>shriharsha05@computer.org
            
        </div>
  </div>

  <div class="info">
