<section class="hero" id="footer">
                
    <div class="columns">
        <div class="column is-half">
            <div>
               <div class="social-icon"></div>


            </div>
        </div>
        <div class="column">
                NIE IEEE Student Branch 
                <br>The National Institute of Engineering 
                <br>Mysuru
            
        </div>
        
        <div class="column">
                Shriharsha M
                <br>+91 94839 04242 
                <br>shriharsha05@computer.org
            
        </div>
    </div>
    
</section>