<!DOCTYPE html>
<html>
<head>

    <title>NIE IEEE CS | Home </title>
    <!--{% include 'head.html' %}-->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/animations.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='css/style.css')}}" />
    <noscript><link rel="stylesheet" href="{{url_for('static', filename='css/noscript_home.css')}}" /></noscript>
    <link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static',filename='css/home_css.css')}}" />

</head>
<body class="is-preload">
    {% include 'menu.html'%}
    {% include 'back_to_top.html'%}

    <!-- Intro -->
      <section id="intro" class="main style1 dark fullscreen">
        <div class="content">
          <header>
            <h2><span style="color: black;">NIE IEEE Computer Society</span></h2>
          </header>
          <img src="static/images/cs.png" alt="notfound" height="300px" width="300px">
          <!--<footer>
            <a href="#one" class="button style2 down">More</a>
          </footer>-->
        </div>
      </section>

    <!-- One -->
      <section id="one" class="main style2 right dark fullscreen">
        <div class="content box style2">
          <header>
            <h2>NIE IEEE Computer Society</h2>
          </header>
          <p>IEEE has many societies under its umbrella.
            One of its largest and most active societies is the IEEE Computer Society.
            NISB has started its Computer Society chapter two years ago with only 15 members and currently has a whopping a figure of 60 members.
            Through NISB, IEEE students of NIE can take up student membership for the Computer Society</p>
        </div>
        <!--<a href="#two" class="button style2 down anchored">Next</a>-->
      </section>

    <!-- Two -->
      <section id="two" class="main style2 left dark fullscreen">
        <div class="content box style2">
          <header>
            <h2>Mission and Vision</h2>
          </header>
          <p>
            To be the leading provider of technical information, community services, and personalized services to the world's computing professionals.
             Our mission is to be essential to the global technical community and computer professionals everywhere and be universally recognized for
             the contributions of technical professionals in developing and applying technology to improve global conditions.
          </p>
        </div>
        <!--<a href="#three" class="button style2 down anchored">Next</a>-->
      </section>

      <!-- Three -->
        <section id="one" class="main style2 right dark fullscreen">
          <div class="content box style2">
            <header>
              <h2>Computer Society Member Benefits</h2>
            </header>
            <ul style="list-style-type : disc;">
              <li>Access to exclusive resources at <a href="https://www.computer.org/web/guest"><span><b><i>computer.org</i></b></span></a></li>
              <li>Volunteering opportunities at IEEE Computer Society events</li>
              <li>Discounts at Computer Society events in college level</li>
            </ul>
          </div>
          <!--<a href="#four" class="button style2 down anchored">Next</a>-->
        </section>

        <!-- Four -->
          <section id="two" class="main style2 left dark fullscreen">
            <div class="content box style2">
              <header>
                <h2>Mission and Vision</h2>
              </header>
              <p>
                To be the leading provider of technical information, community services, and personalized services to the world's computing professionals.
                 Our mission is to be essential to the global technical community and computer professionals everywhere and be universally recognized for
                 the contributions of technical professionals in developing and applying technology to improve global conditions.
              </p>
            </div>
            <!--<a href="#work" class="button style2 down anchored">Next</a>-->
          </section>
    <!-- Work -->
      <section id="work" class="main style3 primary">
        <div class="content">
          <header>
            <h2>We at IEEE Computer Society strive to achieve excellence through</h2>
            <ul>
              <li>Regular Computer Society Weekly Meetups</li>
              <li>Major and minor projects</li>
              <li>Events to enhance knowledge and explore various technical fields</li>
              <li>Proper teamwork and networking through which ideas are shared and brainstormed</li>
              <li>Hardwork and raw passion for technology</li>
            </ul>
          </header>

        <!-- Gallery  -->
          <div class="gallery">
            <article class="from-left">
              <a href="static/images/fulls/1.jpg" class="image fit"><img src="static/images/thumbs/1.jpg" title="The Anonymous Red" alt="" /></a>
            </article>
            <article class="from-right">
              <a href="static/images/fulls/2.jpg" class="image fit"><img src="static/images/thumbs/2.jpg" title="Airchitecture II" alt="" /></a>
            </article>
            <article class="from-left">
              <a href="static/images/fulls/3.jpg" class="image fit"><img src="static/images/thumbs/3.jpg" title="Air Lounge" alt="" /></a>
            </article>
            <article class="from-right">
              <a href="static/images/fulls/4.jpg" class="image fit"><img src="static/images/thumbs/4.jpg" title="Carry on" alt="" /></a>
            </article>
            <article class="from-left">
              <a href="static/images/fulls/5.jpg" class="image fit"><img src="static/images/thumbs/5.jpg" title="The sparkling shell" alt="" /></a>
            </article>
            <article class="from-right">
              <a href="static/images/fulls/6.jpg" class="image fit"><img src="static/images/thumbs/6.jpg" title="Bent IX" alt="" /></a>
            </article>
          </div>

      </div>
    </section>

  <!-- Scripts -->
    <script src="static/js/jquery.min.js"></script>
    <script src="static/js/jquery.poptrox.min.js"></script>
    <script src="static/js/jquery.scrolly.min.js"></script>
    <script src="static/js/jquery.scrollex.min.js"></script>
    <script src="static/js/browser.min.js"></script>
    <script src="static/js/breakpoints.min.js"></script>
    <script src="static/js/util_home.js"></script>
    <script src="static/js/main_home.js"></script>

    {% include 'footer.html'%}
</body>

</html>
