<nav id="primaryNav" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a>
            <img src="../static/images/cs.png">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>
    <br>

    <div id="navbarBasicExample">
        <nav class="menu menu--dustu">
            <a class="menu__item" href="/">
                <span class="menu__item-name">Home</span>
            </a>
            <a class="menu__item" href="/About">
                <span class="menu__item-name">About</span>
            </a>
            <a class="menu__item" href="/Events">
                <span class="menu__item-name">Events</span>
            </a>
            <a class="menu__item" href="/Gallery">
                <span class="menu__item-name">Gallery</span>
            </a>
            <a class="menu__item" href="/Rubix">
                <span class="menu__item-name">Rubix</span>
            </a>
            <a class="menu__item" href="/Contact">
                <span class="menu__item-name">Contact</span>
            </a>
        </nav>
        <!--
        <a href="/Home">
            Home
        </a>
        <br>
        <a href="/About">
            About
        </a>
        <br>
        <a href="/Events">
            Events
        </a>
        <br>
        <a href="/Gallery">
            Gallery
        </a>
        <br>
        <a href="/Rubix">
            Rubix
        </a>
        <br>
        <a href="/Contact">
            Contact
        </a>
        -->
    </div>
</nav>
